/* .react-calendar__month-view {
  background-color: #6ABC8B;
}

.react-calendar__navigation {
  background-color: #6ABC8B;
} */
/* .react-calendar__tile--active {
  background-color: #6ABC8B;
} */
/* .react-calendar__month-view__days__day {
  background-color: #6ABC8B;
} */
